<div class="container-md d-flex justify-content-center align-items-center vh-100">
    <form [formGroup]="nuevoViajeForm" (ngSubmit)="submitForm()" class="text-dark p-3 rounded w-50 shadow" style="max-height: 90vh; overflow-y: auto;">

  
    
  
      <div class="mb-0">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" class="form-control" formControlName="titulo" required>
        <div class="error">
        @if (checkError('titulo', 'required')) {
          <p class="error">El título es obligatorio.</p>
        }
      </div>
      </div> 
  
      <div>
        <label for="texto" class="form-label">Texto:</label>
        <textarea id="texto" class="form-control" formControlName="texto" required></textarea>
        <div class="error">
        @if (checkError('texto', 'required')) {
          <p class="error">El texto no puede estar vacío.</p>
        }
        </div>
      </div>
  
      <div class="mb-0">
        <label for="autor" class="form-label">Autor:</label>
        <input type="text" id="autor" class="form-control" formControlName="autor" required>
        <div class="error">
        @if (checkError('autor', 'required')) {
          <p class="error">El autor es obligatorio.</p>
        }
        </div>
      </div>
  
      <div class="mb-0">
        <label for="imagen" class="form-label">Imagen (URL):</label>
        <input type="url" id="imagen" class="form-control" formControlName="imagen" required>

        <div class="error">
          @if (nuevoViajeForm.get('imagen')?.touched && nuevoViajeForm.get('imagen')?.errors?.['required']) {
            <p>introduce una url</p>
          } @else if (nuevoViajeForm.get('imagen')?.touched && nuevoViajeForm.get('imagen')?.errors?.['pattern']) {
            <p>Introduce una URL válida (ej: https://...jpg/)</p>
          }
        </div>
      </div>
  
      <div class="mb-0">
        <label for="fecha" class="form-label">Fecha:</label>
        <input type="date" id="fecha" class="form-control" formControlName="fecha" required>
        <div class="error">
        @if (checkError('fecha', 'required')) {
          <p class="error">La fecha es obligatoria.</p>
        }
      </div>
      </div>
  
      <div class="mb-0">
        <label for="categoria" class="form-label">Categoría:</label>
        <select id="categoria" class="form-select" formControlName="categoria" required>
          <option value="">Selecciona una categoría</option>
          <option value="playa">Playa</option>
          <option value="montana">Montaña</option>
          <option value="ciudad">Ciudad</option>
          <option value="rural">Rural</option>
          <option value="festivales">Festivales</option>
        </select>
        <div class="error">
        @if (checkError('categoria', 'required')) {
          <p class="error">Debes seleccionar una categoría.</p>
        }
        </div>
      </div>
  
      <button type="submit" class="btn btn-secondary w-100" [disabled]="!nuevoViajeForm.valid">Enviar</button>
  
    </form>
</div>
